.header{
    background-color: green;
    height:50px;
    text-align: center;
    justify-content: center;
    padding-top:10px;
}
label{
    cursor: pointer;
    display: inline-block;
    width: 100px;
    vertical-align: top;
    align-items: center;
    margin-left: 530px;
}
input[type=text]
{
margin-left:30px;
width:10%;
border: 0px;
outline: none;
}
input[type=number]
{
margin-left:30px;
width:10%;
border: 0px;
outline: none;
}
input[type=date]
{
margin-left:30px;
width:10%;
border: 0px;
outline: none;
}
.container{
    margin-left:570px;
}